@import './fonts/bo-icon/iconfont.css';
[class*=' bo-icon-'],
[class^='bo-icon-'] {
  font-family: bofont !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
