// 字体
$--font-desc: 12px;
$--font-default: 13px;
$--font-title-3: 14px;
$--font-title-2: 16px;
$--font-title-1: 20px;
$--font-prominent: 30px;
// 菜单
$--aside-bg-color: #213077 !default;

// border
$--border-color-defalut: #E0E0E0;